{% extends "base.html" %}

{% block content %}

<style>
    body {
      background-color: #f9f9f9;
      font-family: Arial, sans-serif;
    }
  
    form {
      max-width: 500px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }
  
    form h1 {
      font-size: 2rem;
      margin-bottom: 20px;
      text-align: center;
      color: #d9534f;
    }
  
    .confirmation-message {
      margin-bottom: 20px;
      text-align: center;
      font-size: 1.2rem;
      color: #555;
    }
  
    .btn {
      background-color: #d9534f;
      color: #fff;
      border: none;
      padding: 12px 24px;
      font-size: 16px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
    }
  
    .btn:hover {
      background-color: #c9302c;
    }
  
    .btn-danger {
      background-color: #555;
      color: #fff;
      margin-left: 10px;
    }
  
    .btn-danger:hover {
      background-color: #333;
    }
  
    a {
      text-decoration: none !important;
    }

    body.dark-mode {
      background-color: #333;
    }

    body.dark-mode form {
      background-color: #444;
      box-shadow: 0 2px 6px rgba(255, 255, 255, 0.1);
    }

    body.dark-mode form h1,
    body.dark-mode .confirmation-message {
      color: #ddd;
    }

    body.dark-mode .btn {
      background-color: #d9534f;
    }

    body.dark-mode .btn:hover {
      background-color: #c9302c;
    }

    body.dark-mode .btn-danger {
      background-color: #777;
    }

    body.dark-mode .btn-danger:hover {
      background-color: #555;
    }
</style>
  
<form method="post">
  {% csrf_token %}
  <h1>Deletar Carro</h1>
  <div class="confirmation-message">
    Tem certeza que deseja deletar este carro?
  </div>
  <div style="text-align: center;">
    <input type="submit" value="Deletar" class="btn">
    <a href="{% url 'car_detail' pk=object.pk %}" class="btn btn-danger">Cancelar</a>
  </div>
</form>

{% endblock %}
